footer {
  margin-top: 150px;
  background: #2b4650;
  padding-top: 100px;
  padding-bottom: 20px;
}

.footer-content {
  width: 90vw;
  margin: 0 auto;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer-copyright {
  height: 15%;
}

.about-btns {
  list-style: none;
}

.about-btns li {
  margin-bottom: 10px;
}

.about-btns li a:link,
.about-btns li a:visited {
  color: #fff;
  text-decoration: none;
}

.about-us {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.095em;
  color: rgba(255, 255, 255, 0.6);
}

.about-us-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 126.52%;
  color: #ffffff;
}

.footer-copyright hr {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
  padding: 0;
}
.footer-copyright span {
  margin-right: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: rgba(255, 255, 255, 0.6);
}
